{
  "env": {
    "browser": true,
    "node": true
  },
  "extends": "google",
  "globals": {
    "foam": false
  },
  "parser": "babel-eslint",
  "rules": {
    "arrow-parens": ["error", "as-needed"],
    "comma-dangle": ["error", {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "always-multiline",
        "exports": "always-multiline",
        "functions": "never"
    }],
    "max-len": ["error", {
      "ignoreStrings": true,
      "ignoreTemplateLiterals": true
    }],
    "new-cap": ["error", {"capIsNewExceptions": ["CLASS", "ENUM", "SUPER"]}],
    "no-invalid-this": off,
    "no-unused-vars": ["error", {
      "vars": "all",
      "args": "after-used",
      "argsIgnorePattern": "^(var_args|opt_[a-z][a-zA-Z]*)$"
    }]
  }
}
